.expense-item{
    background-color: #777;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.expense-amount{
    width: 50px;
    height: 30px;
    margin-left: auto;
    border-radius: 12px;
    border:1px solid white;
    background-color: coral;
    color: white;
    padding: 0.5rem;

}
.expense-name{
    font-weight: 700;
    font-size: 18px;
    margin: 20px;
}